.location-intro{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    width: 100%;
    
}

.location-image {
    width: 1800px;
    object-fit: cover;
    border-radius: 5px;
}

.location-description {
    display: flex;
    flex-direction: column;
    max-width: 1800px;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.location-description h2 {
    display: flex;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #f60f60;
}   

.location-description p {
    line-height: 1.5;
}       

.location-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 80px;
    width: 100%;
}   

.location-critere {
    display: flex;
    max-width: 1800px;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 50px;
   
}

.location-critere .critere {
    width: 100%;
    display: flex;
    max-width: 1170px;
      
}

.location-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    width: 125px;
    height: 25px;
    background-color: #f60f60;
    border-style: none;
    border-radius: 10px;
    color: white;
}

.container-button {
    display: flex;
    color: white;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    gap: 30px;
    
}

.critere-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}