.footer{
    display: flex;
    max-width: 2000px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
  
}

.footer-image {
    height: 300px;
    margin-bottom: 20px;
}

.footer-content{
    display: flex;
    max-width: 2000px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
   
}